body {

background-color: black;

}


.currículum {

width: 60%;
margin-left: 20%;
border-radius: 12px;
background-color: rgb(247, 244, 244);
background-color: aqua;

}

.mainContainer {

  display: grid;
  grid-template-columns: 50% 50%;
  

}

.cube-1 {
  width: 98%;
  height: 225px;
  text-align: end;

}

.cube-2 {

  width: 98%;
  height: 225px;

}

.img-currí {

width: 72%;
height: 190px;
margin-left: 7.5%;

border: solid 20px rgb(64, 51, 20);

}

.border {

width: 55%;
height: 205px;
margin-top: 0.8%;
margin-left: 0.5%;
position: absolute;
border: solid 2px gray;

}

.cube-3 {

  width: 98%;
  height: 570px;
  margin-top: 5%;
  background-color: rgb(199, 195, 195);
  
}

li {

margin-left: 30px;

}

.info-1 {

   margin-left: 5%;

}

.cube-4 {

  width: 89%;
  height: 570px;
  margin-top: 5%;


}

.cube-5 {
 
  width: 98%;
  height: 150px;
  display: grid;
  margin-top: 20px;
  margin-left: 30px;
  grid-template-columns: 50% 50%;


}

.cube-6 {

  width: 89%;
  height: 150px;
  display: grid;
  margin-top: 3%;
  grid-template-columns: 50% 50%;
  background-color: rgb(199, 195, 195);

}

#p1{
  border-left: 4px solid #0f0f0f;


  height: 90px;
}

#p1 > p{
  padding-left: 15px;
}

hr {

  height: 3px;
  background-color: black;

}




@import url('https://fonts.googleapis.com/css2?fomily=Roboto:wght@100&display=swop');

* {

    margin: 0;
    padding: 0;

    font-weight: bold;
    text-transform: uppercase;
    
}

:root {

--color: rgb(56, 33, 186);

}

.contenedor {

width: 60%;
display: grid;
margin-left: 20%;
grid-template-columns: 50% 50%;

}

.btn {

position: relative;
padding: 20px 50px;
text-decoration: none;
color: #fff;
letter-spacing: 10px;
transition: all 0.6s ease;

}

.btn-1 {

  transition: all 0.6s ease;
  z-index: 1;
  
  }
  
  .btn-1::after {
  
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  left: -10px;
  top: 0;
  background-color: #fff;
  transform: skew(20deg,0deg);
  transition: all 0.4s ease;
  
  }
  
  .btn-1::before {
  
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: skew(20deg,0deg);
  border: 3px solid#03cc57;
  transition: all 0.4s ease;
  z-index: -1;
  
  }
  
  .btn-1:hover::after {
  
  background-color: #ffffff31;
  transform: skew(20deg, 0deg) translateX(220px);
  
  }
  
  .btn-1:hover::before {
  
  background-color: #03cc57;
  border: 3px solid #029740;
  transform: skew(20deg, 0deg) scale(1.1);
  
  }

#num0 {

width: 30%;
height: 35px;
margin-left: 20%;
margin-bottom: 10px;
border-radius: 12px;
border-color: blue;
background-color: white;

}

#num-0 {

width: 30%;
height: 35px;
margin-left: -0.3%;
margin-bottom: 10px;
border-radius: 12px;
border-color: blue;
background-color: white;

}


.btn-2 {

  border: 3px solid;
  
  }
  
  .btn-2:hover {
  
  background-color: #001a2b;
  box-shadow: 0 0 20px var(--color);
  border-color: var(--color);
  
  }
  
  .btn-2 span:nth-child(n) {
  
  position: absolute;
  width: 10px;
  height: 10px;
  border: 3px solid;
  transition: all 0.6s ease;
  
  }
  
  .btn-2 span:nth-child(1) {
   
      right: 10%;
      top: -10px;
      background-color: #fff;
  
  }
  
  .btn-2 span:nth-child(2) {
  
  left: 10%;
  bottom: -10px;
  
  }
  
  .btn-2:hover span:nth-child(1) {
  
  right: 88%;
  transform: rotate(90deg);
  color: var(--color);
  background-color: var(--color);
  
  }
  
  .btn-2:hover span:nth-child(2) {
  
  left: 80%;
  transform: rotate(90deg);
  color: var(--color);
  
  }


