.currículum {

width: 60%;
margin-left: 20%;
border-radius: 12px;
background-color: rgb(247, 244, 244);

}

.mainContainer {

  display: grid;
  grid-template-columns: 50% 50%;
  

}

.cube-1 {
  width: 98%;
  height: 250px;
  text-align: end;

}

.cube-2 {

  width: 98%;
  height: 250px;

}

.img-currí {

width: 72%;
height: 210px;
margin-left: 7.5%;

border: solid 20px rgb(64, 51, 20);

}

.border {

width: 54.3%;
height: 225px;
margin-top: 0.8%;
margin-left: 0.5%;
position: absolute;
border: solid 2px gray;

}

.cube-3 {

  width: 98%;
  height: 665px;
  background-color: rgb(199, 195, 195);
  
}

.info-1 {

   margin-left: 5%;

}

.cube-4 {

  width: 89%;
  height: 665px;


}

.cube-5 {
 
  width: 98%;
  height: 150px;
  display: grid;
  margin-top: 20px;
  margin-left: 30px;
  grid-template-columns: 50% 50%;


}

.cube-6 {

  width: 89%;
  height: 150px;
  display: grid;
  margin-top: 3%;
  grid-template-columns: 50% 50%;
  background-color: rgb(199, 195, 195);

}

#p1{
  border-left: 4px solid #0f0f0f;


  height: 120px;
}

#p1 > p{
  padding-left: 15px;
}

hr {

  height: 3px;
  background-color: black;

}

.b-1 {

width: 60%;
margin-left: 20%;
border-radius: 12px;
border-color: blue;
background-color: white;

}

#num1 {
  color:white;
border-radius: 3px;
background-color: blue;

}

#num0 {

  margin-left: 46%;
  margin-top: 10%;
  border-radius: 12px;
  width: 100px;
  height: 100px;

}

#num2 {

width: 100px;
color: white;
border-radius: 3px;
background-color: red;

}