body {

background-color: white;

}


.currículum {

  width: 60%;
  margin-left: 20%;
  border-radius: 12px;
  background-color: lightblue;

}

.mainContainer {

  display: grid;
  grid-template-columns: 50% 50%;
  

}

.cube-1 {

  width: 98%;
  height: 225px;
  text-align: end;
  background-color: lightblue;

}

.cube-2 {

  width: 98%;
  height: 225px;
  background-color: lightblue;

}

.img-currí {

  width: 72%;
  height: 190px;
  margin-left: 7.5%;
  border: solid 20px rgb(64, 51, 20);

}

.border {

  width: 55%;
  height: 205px;
  margin-top: 0.8%;
  margin-left: 0.5%;
  position: absolute;
  border: solid 2px gray;
  
}

.cube-3 {

  width: 98%;
  height: 570px;
  margin-top: 5%;
  background-color: white;
  
}

li {

  margin-left: 30px;

}

.info-1 {

   margin-left: 5%;

}

.cube-4 {

  width: 89%;
  height: 570px;
  margin-top: 5%;


}

.cube-5 {
 
  width: 98%;
  height: 150px;
  display: grid;
  margin-top: 20px;
  margin-left: 30px;
  grid-template-columns: 50% 50%;


}

.cube-6 {

  width: 89%;
  height: 150px;
  display: grid;
  margin-top: 3%;
  background-color: white;
  grid-template-columns: 50% 50%;

}

#p1{

  height: 90px;
  border-left: 4px solid #0f0f0f;
  
}

#p1 > p{
  padding-left: 15px;
}

hr {

  height: 3px;
  background-color: black;

}




@import url('https://fonts.googleapis.com/css2?fomily=Roboto:wght@100&display=swop');

* {

  margin: 0;
  padding: 0;

}

:root {

  --color: rgb(56, 33, 186);

}

.contenedor {


display: grid;
height: 200px;
margin-left: 25px ;
margin-right: 25px ;
grid-template-columns: 1.5fr 1fr ;
grid-template-rows: 1fr 1fr 1fr;

}

.btn {
 
  height: 30px;
  width: 250px;
  color: #fff;
  position: relative;
  padding: 20px 50px;
  border: transparent;
  letter-spacing: 10px;
  transition: all 0.6s ease;
  background-color: transparent;

}



.btn-1 {

  z-index: 1;
  text-decoration: none;
  transition: all 0.6s ease;
  
  
  }

  .btn-1 > a{

    color: white;
    text-decoration: none;
  
  }
  
  .btn-1::after {
  
    top: 0;
    width: 10%;
    left: -10px;
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.4s ease;
    transform: skew(20deg,0deg);
    background-color: #03cc57;
    
  }
  
  .btn-1::before {
  
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    border: 3px solid ;
    transition: all 0.4s ease;
    transform: skew(20deg,0deg);
  
  }
  
  .btn-1:hover::after {
  
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(220px);
    
  }
  
  .btn-1:hover::before {
  
    border: 3px solid white;
    background-color: #03cc57;
    transform: skew(20deg, 0deg) scale(1.1);
  
  }




  .btn-2 {

    z-index: 1;
    text-decoration: none;
    transition: all 0.6s ease;
    
    }
  
  .btn-2 > a{
  
    color: white;
    text-decoration: none;
  
  }
    
  .btn-2::after {
    
    top: 0;
    width: 10%;
    content: "";
    left: -10px;
    height: 100%;
    position: absolute;
    background-color: blue;
    transition: all 0.4s ease;
    transform: skew(20deg,0deg);
    
  }
    
  .btn-2::before {
    
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.4s ease;
    border: 3px solid white;
    transform: skew(20deg,0deg);
    
  }
    
  .btn-2:hover::after {
    
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(220px);
    
  }
    
  .btn-2:hover::before {
    
      
    background-color: blue;
    border: 3px solid  white;
    transform: skew(20deg, 0deg) scale(1.1);
    
  }




#btn-3 {

color: blue;
height: 70%;
width: 61.5%;
margin-left: 0%;
margin-bottom: 10px;
border-radius: 12px;
border-color: blue;
background-color: white;

}

#btn-4 {

  color: blue;
  height: 70%;
  width: 92.5%;
margin-left: -0.3%;
margin-bottom: 10px;
border-radius: 12px;
border-color: blue;
background-color: white;

}




